*{
    margin : 0 ; 
    padding : 0 ; 
    box-shadow : border-box ; 

}
body {
    font-family: sans-serif ;
}

header {
    box-shadow: 0px 3px 10px rgba(61, 61, 211, 0.3);
    position: sticky;
    top : 0px ; 
    background: white ;
}
nav {
    min-height: 10vh;
    margin : auto ; 
    width: 90%; 
    display : flex ; 
    align-items: center ;
    justify-content: space-between;
}
header h1, ul {
    font-size : 1.5rem ; 
    flex : 1 ; 

}
nav ul {
    list-style: none ;
    display : flex ;
    justify-content : space-between ;
}
nav a {
    color : black ; 
    text-decoration: none ;
}
section {
    min-height: 100vh;
    display : flex ; 
    justify-content: center ;
    align-items:center ;
}
section h2  {
    font-size: 5rem ; 
    color : white ; 
}
.home {
    background: linear-gradient(to right, #2c3e50, #3498db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.project {
background: linear-gradient(to top, #757519, #CCCCB2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.contact {
    background: linear-gradient(to bottom, #350245, #d7d2cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bubble {
    position: absolute;
    z-index: -2;
    background: linear-gradient(to right, #2c3e50, #3498db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transform: scale(2);
    transition: all 0.5s ease;
}